"*":
  "atom-beautify":
    _analyticsUserId: "b47ef96e-a2f6-4f69-9a8c-5043cd89e1ee"
    general:
      _analyticsUserId: "c00c786d-8f40-4e23-b383-6f651128aeb0"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "go-plus":
    goPath: "$HOME/Projects"
  "linter-docker": {}
  minimap: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
